<app-header-menu>
</app-header-menu>
<div class="container">
  <h3>{{ user }} kullanıcısının {{ title }}</h3>
  <div class="row">
    <div class="col-6">
      <input type="text" class="form-control" #myJob value="">
      <button class="btn btn-success" (click)="addNewAction(myJob.value)">Yeni iş ekle</button>

    </div>
   
  </div>
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary" (click)="filter()" >{{getButtonText()}}</button>
      <ul class="list-group">
        <li class="list-group-item d-flex align-items-center" *ngFor="let todo of todoItems">
          <div class="ms-2 me-auto">
            <div>
              <input type="checkbox" [(ngModel)]="todo.isDone" [checked]="todo.isDone" class="form-check-input me-1">{{ todo.action }}
            </div>
          </div>
          <span [ngClass]="todo.isDone ? 'bg-primary': 'bg-danger'"  class="badge rounded-pill">
            {{ todo.isDone ? "Bitti":"Yapılmadı" }}
          </span>
        </li>

      </ul>
    </div>
  </div>
</div>
